{% extends 'base.html' %}

{% block content %}
  <h1>Edit Food Item</h1>
  <form method="POST" action="{{ url_for('edit_item', item_id=item['_id']) }}">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{ item['name'] }}" required>
    <br>
    <label for="expiry_date">Expiry Date:</label>
    <input type="date" name="expiry_date" id="expiry_date" value="{{ item['expiry_date'] }}" required>
    <br>
    <button type="submit">Save Changes</button>
  </form>
{% endblock %}
